/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 22 Mar 2024, 12:15:44 am
    Author     : joycelyn.soo
*/
/*navigation bar */
header {
    margin: 0;
    padding: 0;
    left: 0;
    right: 0;
    top: 0;
    position: fixed;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0e2745;
    overflow: hidden;
    width: 100%;
    z-index: 1000;
    margin: 0;
    padding: 0;
}

.logo {
    margin: 5px;
}

.logo img {
    margin-left: 15px;
    width: 300px
}

.account-mgmt {
    padding: 5px;
    margin-right: 20px;
}

.account-mgmt img {
    width: 60px;
    height: auto;
    margin: 0px 10px;
}

.browse-bar {
    float: left;
    background-color: #123157;
    width: 100%;
    margin: 0;
    padding: 15px;
}

.browse-bar a {
    text-decoration: none;
    font-weight: bold;
    font-family: monospace;
    color: whitesmoke;
    margin: 0px 20px;
    font-size: 20px;
}

.browse-bar a:hover {
    color: #00ffff;
}

@media screen and (max-width: 600px) {
    .nav-bar a {
        display: block;
    }

    .logo img {
        position: relative;
        top: 0;
        left: 0;
        transform: none;
    }
}

/* Home Page */
.home_body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('background.avif') no-repeat; 
    background-size:cover;
    background-position:center;
}

.home_title{
    position: absolute;
    text-align: center;
    font-size: 100px;
    color: white;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 10px;
    padding: 20px 40px;
    background:transparent;
    backdrop-filter: blur(20px);
    margin-bottom:500px;
}

.home_blurb{
    position: absolute;
    text-align: center;
    font-size: 24px;
    color:white;
    margin-bottom:250px;
}

.home_login_or_register{
    margin-top:160px;
    width:420px;
    background:transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    color: #fff;
    border-radius: 10px;
    padding: 30px 40px;
}

.home_register_button { 
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none; 
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size:18px;
    color: #333;
    font-weight: 600;
    margin-top:10px;
}

.home_login_button {
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none; 
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size:18px;
    color: #333;
    font-weight: 600;
    margin-bottom:10px;
}

/* Login Page */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: serif;
}

.login_body{
    display:flex;
    justify-content: center; /* puts it in the top centre */
    align-items: center;
    min-height: 100vh; /* mimimum height the element can be, element will be at least 100% of the browser's height '*/
    background: url('background.avif') no-repeat;
    background-size:cover;
    background-position:center;
}

.login_form { 
    width:420px;
    background:transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    color: #fff;
    border-radius: 10px;
    padding: 30px 40px;
}

.login_title{
    font-size: 60px;
    text-align: center;
}

.login_input_box{
    width: 100%;
    height:50px;
    margin: 30px 0; 
    
}

.login_input_box input {
    width: 100%;
    height: 100%;
    background: transparent;
    margin-bottom: 20px;
    border: none;
    outline: none; 
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px; 
    /* text inside the input box ie the placeholder  */
    font-size: 18px;
    color: #fff;
    padding: 20px 45px 20px 20px;

}

.login_input_box input::placeholder { /* text that the user types in */
    color: white;

}

.login_button{
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none; 
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 18px;
    color: #333;
    font-weight: 600;
        
}

.login_go_back_to_register {
    font-size: 17px;
    text-align: center;
    margin-top:20px;
}

.login_register_button p a::hover{
    text-decoration: underline; 
}

.login_register_link{
    color: #fff;
    font-size: 17px;
    text-align: center;
    margin-top: 20px;
}

/* Main Page */
